*{
    padding: 0px;
    margin: 0px;
}
  
body{
    background-image: url(home_bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: rgb(0, 0, 0);
}
.container{
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    height: 70vh;
    width: 70vh;
    background-color: rgb(255, 255, 255,0.1);
    box-shadow: -5px -5px 50px rgba(13, 13, 13, 0.2);
    border-radius: 20px;
}
.mainform{
    padding: 50px;
    font-size: 1.5rem;
    
}
#logo img{
    height: 6rem;
    margin-bottom: 50px;
}
#logo{
    display: flex;
    align-self: center;
    justify-content: center;
}
.mainname{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#mainpassword{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}